body {
    background-color: snow;
}

.dark-mode {
    background-color: black;
    color: white;

}

h2 {
    text-align: center;
}

p {
    border: 2px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}